{# empty Twig template #}

{% extends "ADLearningBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row jumbotron text-center">
            <h2>Create a module</h2>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
